<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>

        <RollingFile name="FileAppender" fileName="logs/log4j2-gamesapi.log"
                     filePattern="logs/log4j2-gamesapi-%d{yyyy-MM-dd}-%i.log">

            <MarkerFilter marker="MYLOG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} : %m%n%ex</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <MarkerFilter marker="MYLOG" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- SMTP Appender -->
        <SMTP name="MailAppender"
              smtpProtocol="smtps"
              subject="Log4j2 Demo [PROD]"
              to="mcnowak@wp.pl"
              from="mcnowak77@gmail.com"
              smtpHost="smtp.gmail.com"
              smtpPort="465"
              smtpUsername="mcnowak77@gmail.com"
              smtpPassword="chomk77"
              bufferSize="1">
            <MarkerFilter marker="EMAIL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </SMTP>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="MailAppender" />
        </Root>
    </Loggers>

</Configuration>
